<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
td{
text-align:center;
}
</style>
<script type="text/javascript">
function fn_add(){
	document.frm.submit();
}
</script>
<body>
EMP_MOD
<form name="frm" action="mem_add_act" method="post">
	<table border=1>
   		<tr>
	         <th>사번</th>
	         <td><input type="text" name="e_id" value=""/></td>
	    </tr>
	    </tr>
	         <th>이름</th>
	         <td><input type="text" name="e_name" value=""/></td>
	    </tr>
	    <tr>
	         <th>성별</th>
	         <td><input type="text" name="gen" value=""/></td>
	    </tr>
	    <tr>
	         <th>주소</th>
	         <td><input type="text" name="addr" value=""/></td>
     	</tr>
     	<tr>
     		<td><input type="button" value="저장" onclick="fn_add()"></td>
     	</tr>
	</table>
</form>
</body>
</html>